<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container">
        <div class="row">
          <div class="col-0 col-sm-2">
          
          </div>
          <div class="col-12 col-sm-8 bg-white shadow rounded-3 p-5 mt-5">
            
            <h3 class="">Student's Registration</h3>
            <br />
            <br />
        <form method="POST" action="">
                {% csrf_token %}

                <label for="username" class="form-label">Username</label>
                {{ user_form.username }}
                <P>{{ user_form.username.errors }}</P> 
                <!-- <input type="text" id="username" name="username" class="form-control" > -->
                <label for="email" class="form-label">Email</label>
                {{ user_form.email }}
                <p>{{ user_form.email.errors }}</p>
                <!-- <input type="text" id="email" name="email" class="form-control" > -->

                <label for="phone_number" class="form-label">Phone Number</label>
                {{ stu_form.phone_number }}
                <p>{{ stu_form.phone_number.errors }}</p>

                <label for="password1" class="form-label">Password</label>
                {{ user_form.password1 }}
                <p>{{ user_form.password1.errors }}</p>
                <!-- <input type="password" id="password1" name="password1" class="form-control" > -->
                <label for="password2" class="form-label">Confirm password</label>
                {{ user_form.password2 }}
                <p>{{ user_form.password2.errors }}</p>
                <!-- <input type="password" id="password2" name="password2" class="form-control" > -->
                <br />

        
            <input class="btn btn-info d-inline p-2 px-3 shadow" type="submit" value="Submit">


        </form>
        


        </div>
 
        <div class="col-0 col-sm-2">
            
          </div>
        </div>
    </div>


</body>
</html>