{% extends 'base/base.html' %}

{% block title %}Dashboard{% endblock title %}
{% load widget_tweaks %}


{% block content %}
    <!-- /Widgets -->

        <div class="bg-info">
            <h3 class="text-center">Students</h3>
            <form method="get">
                <div class="well">
                  <div class="row d-flex align-items-center justify-content-center">
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.username.label_tag }}
                        {% render_field filter.form.username class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                      {{ filter.form.class_name.label_tag }}
                      {% render_field filter.form.class_name class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                      {{ filter.form.roll_num.label_tag }}
                      {% render_field filter.form.roll_num class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                      {{ filter.form.email.label_tag }}
                      {% render_field filter.form.email class="form-control" %}
                    </div> 
                  </div>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> Search
                      </button>
    
                </div>
            </form>
            </div>
      
    
    <div class="clearfix"></div>

    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Students Information List </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>UserName</th>
                                        <!-- <th>Name</th> -->
                                        <th>Email</th>
                                        <th>Bkash Num.</th>
                                        <th>Approved</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>

                                        {% if students %}
                                        {% for obj in students %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ obj.user_info.username }}</td>
                                        <!-- <td>{{ obj.user_info.first_name }} {{ obj.user_info.last_name }}</td> -->
                                        <td>{{ obj.user_info.email }}</td>
                                        <td>{{ obj.stu_pay_info.last.phone_number }}</td>
                                        <td>{{ obj.approved }}</td>
                                        

                                        <td>
                                            {% if obj.approved %}
                                                Approved
                                            {% else %}
                                                <a class="btn btn-warning" role="button" href="{% url 'quiz_app:stud_activat' pk=obj.pk %}">Approve</a></button>
                                            {% endif %}
                                        </td>
 
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No students available</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->

            
        </div>
    </div>
    <!-- /.orders -->
{% endblock content %}




    <!-- /Widgets -->
    <div class="bg-info">
        <h3 class="text-center">Students</h3>
        <form method="get">
            <div class="well">
              <div class="row d-flex align-items-center justify-content-center">
                <div class="form-group col-sm-4 col-md-2">
                  {{ filter.form.institution_name.label_tag }}
                  {% render_field filter.form.institution_name class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-2">
                  {{ filter.form.class_name.label_tag }}
                  {% render_field filter.form.class_name class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-2">
                  {{ filter.form.roll_num.label_tag }}
                  {% render_field filter.form.roll_num class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-2">
                  {{ filter.form.email.label_tag }}
                  {% render_field filter.form.email class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    {{ filter.form.username.label_tag }}
                    {% render_field filter.form.username class="form-control" %}
                  </div>

              </div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Search
                  </button>

            </div>
        </form>
        </div>
    <div class="clearfix"></div>





    <tbody>

        {% if filter.qs %}
        {% for obj in filter.qs %}
    <tr>
        <td class="serial">{{ forloop.counter }}</td>
        <td>{{ obj.user_info.username }}</td>
        <td>{{ obj.user_info.first_name }} {{ obj.user_info.last_name }}</td>
        <td>{{ obj.user_info.email }}</td>
        <td>{{ obj.class_name }}</td>
        <td>{{ obj.roll_num }}</td>
        <td>{{ obj.approved }}</td>
        

        <td>
            {% if obj.approved %}
                Approved
            {% else %}
                <a class="btn btn-warning" role="button" href="{% url 'quiz_app:stud_activat' pk=obj.pk %}">Approve</a></button>
            {% endif %}
        </td>

    </tr>
    {% endfor %}
    {% else %}
        <tr><td>No students available</td></tr>
    {% endif %}
</tbody>